@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin-left: 2%;
    margin-right: 2%;
}

.navbar{
    z-index: 2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
}

.navbar a {
    font-family: 'Roboto';
    font-weight: 300;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    background: rgba(53, 67, 128, 0.651);
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.158);
}


#home-page{
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#bg-home{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background.jpg') center center;
    width: 100%;
    height: 100%;
}

#black-bg{
    position: absolute;
    background: black center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}

#content-home{
    z-index: 1;
}

.kanit-title, #sub-kanit, #p-kanit{
    color: white;
}

.kanit-title{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

#sub-kanit{
    font-weight: 500;
    font-style: italic;
}

#p-kanit{
    font-weight: 400;
}

#cards-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

main{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    background: rgb(1,3,51);
    background: linear-gradient(180deg, rgba(1,3,51,1) 0%, rgba(0,0,0,1) 100%);
}

.card{
    background-color: rgb(228, 227, 227);
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.158);
    border-radius: 2%;
    margin: 2%;
    padding: 1%;
    width: 25%;
    height: 50vh;
}

.card:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.295);
    transition: all 0.4s ease;
}

.card-title{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.card-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

/* INICIO TELA PROJETOS */
#tela-projetos{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 170vh;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(50,32,110,1) 100%);
}

/* Fonte */
.title-tela{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    margin-left: 5%;
    font-size: 2rem;
}

/* Flexbox para fotos do projeto */
.flex-projeto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
/* Subtitle projetos */
.subtitle-projetos{
    color: white;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
}
/* Container with all the photos */
.img-container{
    text-align: center;
    color: white;
    position: relative;    
}

/* Tela Habilidades */
#tela-habilidades{
    position: absolute;
    top: 270vh;
    height: 70vh;
    left: 0;
    right: 0;
    color: white;
    background: rgb(49,31,108);
    background: linear-gradient(180deg, rgba(49,31,108,1) 0%, rgba(2,0,11,1) 100%);
    display: flex;
}
#cat-gif{
    width: 90%;
    border-radius: 50%;
}

#habilidades-bg{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}

.subtitle-tech{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#habilidades-bg > div{
    margin-right: 2%;
}

#container-img-habilidades{
    height: 45vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div-cat{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* tela perfil */
#tela-perfil{
    position: absolute;
    top: 340vh;
    height: 70vh;
    width: 100%;
    left: 0;
    color: white;
    background: rgb(49,31,108);
    background: linear-gradient(0deg, rgba(49,31,108,1) 0%, rgba(2,0,11,1) 100%);
}

#perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONTES PERFIL */
.font-perfil{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.info-perfil{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    margin-left: 5%;
}

.info-perfil > a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.img-habilidades{
    filter: invert(100%);
    width: 96px;
    height: 96px;
}

#perfil-flex{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#perfil-contacts > div{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#perfil-contacts > div > p{
    padding-left: 5%;
    padding-right: 5%;
}

#perfil{
    width: 50%;
}

#form{
    width: 50%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px){
    body{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar{
        display: none;
    }
    #cards-flex{
        width: 100%;
    }
    .card{
        width: 30%;
        padding: 0;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-subtitle{
        font-size: 0.7rem;
    }
    .card-picture{
        display: none;
    }
    .img-habilidades{
        width: 70px;
        height: 70px;
    }
    #div-cat{
        display: none;
    }
    #form{
        display: none;
    }
}